In [11]:
import pandas as pd
from scipy.stats import trim_mean
import numpy as np

In [12]:
state_df = pd.read_csv('data/murderrate.csv')
state_df

        State  Population  Murder Rate Abbreviation
0     Alabama     4779736          5.7           AL
1      Alaska      710231          5.6           AK
2     Arizona     6392017          4.7           AZ
3    Arkansas     2915918          5.6           AR
4  California    37253956          4.4           CA
5    Colorado     5029196          2.8           CO
6  Connectiut     3574097          2.4           CT
7    Delaware      897934          5.8           DE

## Lets calculate location estimates

In [13]:
# mean of population
state_df['Population'].mean()

7694135.625

In [14]:
# median of population
state_df['Population'].mean()

7694135.625

In [15]:
# Trimmed mean of Population
trim_mean(state_df['Population'],0.15) #drops 15% data on both ends

3931483.0

In [17]:
#weighted average
np.average(state_df['Murder Rate'],weights=state_df['Population'])

4.376359279149048