Estimates of variability
------------------------
* Location is just one dimension in summarizing a feture, A second dimension variability, also referred to as dispersion, measures whether the data values are tightly clustered or spread out.
* At the heart of statstics:
    * Measuring it
    * reducing it
    * Distinguish random from real variability
    * Identifying various sources of real variability
    * making decisions in the prescence of it

In [1]:
import pandas as pd
state_df = pd.read_csv('data/murderrate.csv')
state_df

        State  Population  Murder Rate Abbreviation
0     Alabama     4779736          5.7           AL
1      Alaska      710231          5.6           AK
2     Arizona     6392017          4.7           AZ
3    Arkansas     2915918          5.6           AR
4  California    37253956          4.4           CA
5    Colorado     5029196          2.8           CO
6  Connectiut     3574097          2.4           CT
7    Delaware      897934          5.8           DE

In [3]:
# standard deviation
state_df['Population'].std()

12105745.29585633

In [4]:
## Lets calculate inter quarter range (distance between 75 percentile and 25 percentile) IQR
state_df['Population'].quantile(0.75) -state_df['Population'].quantile(0.25)

2958479.25

In [21]:
# For the scores of the students 3,5,7,9,12,21,25,30 calculate 25th percentile
dic = {}
dic['name'] = ['test1','test2','test3','test4','test5','test6','test7']
dic['score'] = [3,5,7,9,12,21,25,30]
results = pd.DataFrame({
    'name' : ['test1','test2','test3','test4','test5','test6','test7','test8'],
    'score' : [3,5,7,9,12,21,25,30]
})
print(results)
# std
print(f"standard deviation : {results['score'].std()}")
#IQR
print(f"IQR : {results['score'].quantile(0.75)-results['score'].quantile(0.25)}")

    name  score
0  test1      3
1  test2      5
2  test3      7
3  test4      9
4  test5     12
5  test6     21
6  test7     25
7  test8     30
standard deviation : 10.042765697612529
IQR : 15.5

In [22]:
students_df = pd.read_csv('data/studentsdataset.csv')
print(students_df['gpa'])
# std
print(f"standard deviation : {students_df['gpa'].std()}")
#IQR
print(f"IQR : {students_df['gpa'].quantile(0.75)-students_df['gpa'].quantile(0.25)}")

0    90
1    93
2    85
3    87
4    95
5    92
6    97
7    81
8    85
9    82
Name: gpa, dtype: int64
standard deviation : 5.518655230720213
IQR : 7.75

Exploring the Data Distribution
-------------------------------
* Each of the estimates weâ€™ve covered sum up the data in a single number to descirbe the location or variablility.
* It is also useful to explore how the data is distributed overall

![Preview](./Images/ds10.png)
![Preview](./Images/ds11.png)
![Preview](./Images/ds12.png)