## Series

In [7]:
import pandas as pd

In [8]:
series = {
    'index' : [0,1,2,3],
    'data' : [145,142,38,13],
    'name' : 'songs'
}

def get(series,idx):
    value_idx = series['index'].index(idx)
    return series['data'][value_idx]

get(series,1)

142

In [15]:
songs = {
    'index':['Paul', 'John', 'George', 'Ringo'],
    'data':[145 , 142, 38, 13],
    'name':'counts'
    }

get(series = songs,idx = 'John')

142

In [19]:
songs2 = pd.Series([145,142,38,13], name ='counts')
songs2

0    145
1    142
2     38
3     13
Name: counts, dtype: int64

Though it looks like 2 dimensional, it is one-dimensional, index is not part of values.

Name is optional here

Here dtype means the kind of values of series holds like string, int64,int32, float

In [20]:
songs2.index

RangeIndex(start=0, stop=4, step=1)

In [22]:
songs3 = pd.Series ([145 , 142, 38, 13],
    name='counts',
    index =['Paul', 'John', 'George', 'Ringo'])

songs3

Paul      145
John      142
George     38
Ringo      13
Name: counts, dtype: int64

for index attribute dtype is object

In [24]:
songs3.index

Index(['Paul', 'John', 'George', 'Ringo'], dtype='object')

The actual data or values does not have to be homogenous/umeric, we can also insert python objects into a series

In [26]:
class Foo:
    pass

ringo = pd.Series([
    'Richard','Starkey',13,Foo()
])

ringo

0                                        Richard
1                                        Starkey
2                                             13
3    <__main__.Foo object at 0x00000198BB8E4430>
dtype: object

In [32]:
num = 4299
val =0
x = [val := (val+float(a)) for a in str(num)]
print(x[-1])

24.0